workflow_structure.json
{
  "name": "Portrait Generator API Workflow",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "portrait-generate",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        250,
        300
      ],
      "webhookId": "portrait-generator-webhook"
    },
    {
      "parameters": {
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash-image:generateContent",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": []
        },
        "specifyBody": "json",
        "jsonBody": "{\n          \"contents\": [{\n            \"parts\": [\n              {\n                \"inlineData\": {\n                  \"data\": \"={{ $json.body.image }}\",\n                  \"mimeType\": \"image/jpeg\"\n                }\n              },\n              {\n                \"text\": \"={{ 'Portrait of the uploaded person, ' + $json.body.prompt }}\"\n              }\n            ]\n          }],\n          \"generationConfig\": {\n            \"responseModalities\": [\"IMAGE\"]\n          }\n        }",
        "options": {}
      },
      "id": "gemini-api-call",
      "name": "Call Gemini API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        450,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "gemini-api-key",
          "name": "Gemini API Key"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n          \"success\": true,\n          \"image\": \"={{ $json.candidates[0].content.parts[0].inlineData.data }}\",\n          \"mimeType\": \"={{ $json.candidates[0].content.parts[0].inlineData.mimeType }}\"\n        }",
        "options": {}
      },
      "id": "respond-to-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        650,
        300
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Call Gemini API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Gemini API": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
